<marquee behavior="scroll" direction="left">AQUI VAN LOS POKEMONES, TIENES QUE ATRAPARLOS!</marquee>
<marquee behavior="scroll" direction="right">PONTE SOBRE UN POKEMON PARA QUE VEAS COMO TE ATACA</marquee>
    <div class="box-pokemon" *ngIf="pokemon.length > 0">
        <div class= "" *ngFor="let pokemones of pokemon">
        <img src={{pokemones.image_url}} alt={{pokemones.nombre}}> 
        <h2><span>{{pokemones.nombre}}</span></h2>           
        <p><span>{{pokemones.descripcion}}</span></p>    
        <button type="button" (click)="abrirModal()" > Ver información</button>
    </div>
</div>

<app-modal *ngIf="mostrarModal"></app-modal>

